@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "accent";
    src: url(/accent.ttf);
  }

  @font-face {
    font-family: "LEDLIGHT";
    src: url(/LEDLIGHT.otf);
  }

  @font-face {
    font-family: "Zector";
    src: url(/Zector.ttf);
  }

  @font-face {
    font-family: "MARDE SAUVE";
    src: url(/MARDE\ SAUVE.otf);
  }

  @font-face {
    font-family: "neuropolitical rg";
    src: url(/neuropolitical\ rg.otf);
  }
}

:root {
  --bg-color1: rgb(45, 18, 78);
  --bg-color2: rgb(15, 13, 31);

  --color1: rgba(45, 18, 78, 0.527);
  --color2: rgba(22, 19, 49, 0.541);
  --color5: rgba(22, 19, 49, 0);
  --color3: rgb(168, 238, 127);
  --color4: rgb(127, 243, 60);
  --outline-color: #a8ee7fb7;

  --x: 0px;
  --y: 0px;
  --opacity: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--bg-color2);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.opacity-blur {
  position: relative;
  backdrop-filter: blur(5px);
  background: var(--color2);
  opacity: 0.95;
}

.opacity-blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color5);
}

.opacity-blur:hover::before {
  background: radial-gradient(
    circle farthest-side at var(--x) var(--y),
    var(--color1) 0%,
    var(--color5) 80%
  );
  opacity: 1;
  animation: opacity 0.3s forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.webgl1,
.webgl2 {
  position: absolute;
  top: 0;
  left: 0;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    150deg,
    var(--bg-color1) 0%,
    var(--bg-color2) 50%
  );
}

/* .intro-box {
  transform: perspective(500px) rotateY(30deg) translateX(-100%);
  animation: intro-box 0.4s 1.7s ease-out forwards;
}

@keyframes intro-box {
  0% {
    transform: perspective(500px) rotateY(30deg) translateX(-100%);
  }
  100% {
    transform: perspective(500px) rotateY(30deg) translateX(0%);
  }
} */

.intro-box {
  opacity: 0;
  transform: scale(1.1, 1.1);
  animation: intro-box 0.4s 2s ease-out forwards;
}

@keyframes intro-box {
  0% {
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.outline-box {
  border-radius: 20px;
  width: calc(100% - 3.5rem);
  height: calc(100% - 3.5rem);
  animation: outline 0.4s 2s ease-out forwards;
}

@keyframes outline {
  0% {
    border: none;
  }

  100% {
    border: 2px var(--outline-color) solid;
  }
}
